---
http_interactions:
- request:
    method: post
    uri: https://api.dhan.co/v2/optionchain/expirylist
    body:
      encoding: UTF-8
      string: '{"UnderlyingScrip":13,"UnderlyingSeg":"IDX_I","dhanClientId":"<ACCESS_TOKEN>"}'
    headers:
      Access-Token:
      - "<CLIENT_ID>"
      Client-Id:
      - "<ACCESS_TOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":["2025-07-10","2025-07-17","2025-07-24","2025-07-31","2025-08-07","2025-08-28","2025-09-25","2025-12-24","2026-03-26","2026-06-25","2026-12-31","2027-06-24","2027-12-30","2028-06-29","2028-12-28","2029-06-28","2029-12-27","2030-06-25"],"status":"success"}'
  recorded_at: Tue, 08 Jul 2025 13:29:50 GMT
- request:
    method: post
    uri: https://api.dhan.co/v2/optionchain
    body:
      encoding: UTF-8
      string: '{"UnderlyingScrip":13,"UnderlyingSeg":"IDX_I","Expiry":"2025-07-10","dhanClientId":"<ACCESS_TOKEN>"}'
    headers:
      Access-Token:
      - "<CLIENT_ID>"
      Client-Id:
      - "<ACCESS_TOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":{"last_price":25522.5,"oc":{"19450.000000":{"ce":{"greeks":{"delta":0,"theta":0,"gamma":0,"vega":0},"implied_volatility":0,"last_price":0,"oi":0,"previous_close_price":0,"previous_oi":0,"previous_volume":0,"top_ask_price":0,"top_ask_quantity":0,"top_bid_price":0,"top_bid_quantity":0,"volume":0},"pe":{"greeks":{"delta":0,"theta":-0,"gamma":0,"vega":0},"implied_volatility":10.29091728330017,"last_price":0,"oi":0,"previous_close_price":0,"previous_oi":0,"previous_volume":0,"top_ask_price":0,"top_ask_quantity":0,"top_bid_price":0,"top_bid_quantity":0,"volume":0}},"19500.000000":{"ce":{"greeks":{"delta":0,"theta":0,"gamma":0,"vega":0},"implied_volatility":0,"last_price":0,"oi":0,"previous_close_price":0,"previous_oi":0,"previous_volume":0,"top_ask_price":0,"top_ask_quantity":0,"top_bid_price":0,[...]
